# Set to 'production' when deploying
NODE_ENV=development

# Sync server secret key (generated with 'openssl rand -hex 64')
GROUNDMIST_SYNC_SECRET_KEY=

# atproto DID of sync server owner
ATPROTO_DID=